
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
.navlinks{justify-content:center;}

.top-banner {
    display: flex;
    flex-direction: column;
    background-color: #ff6700;
    position: relative;
    height: 87vh;
}	
.img-banner {
    display: flex;
    height: 100%;
}
.img-banner > div{
	height:100%;
	width:100%;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}
.img-b1{
	background-image:url("../img/img-anim/i1.jpg");
	animation-name:b1;
	animation-duration:3s;
	animation-iteration-count:infinite;
}

@keyframes b1{
	0%,100%{
		background-image:url("../img/img-anim/i1.jpg");
	}
	33%{
		background-image:url("../img/img-anim/i2.jpg");
	}
	66%{
		background-image:url("../img/img-anim/i6.jpg");
	}
}

.img-b2{
	background-image:url("../img/img-anim/i3.jpg");
	animation-name:b2;
	animation-duration:3s;
	animation-iteration-count:infinite;
	
}


@keyframes b2{
	0%,100%{
		background-image:url("../img/img-anim/i3.jpg");
	}
	33%{
		background-image:url("../img/img-anim/i4.jpg");
	}
	66%{
		background-image:url("../img/img-anim/i5.jpg");
	}
}
.content-banner {
    position: absolute;
    color: white;
    text-shadow: 0px 0px 0.7em black;
    text-shadow: 0px 0px 0.8em #9e9e9e;
    height: 100%;
    text-align: center;
    padding: 50px;
    display: flex;
    place-content: center;
    justify-items: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: var(--f1-style);
    justify-content: center;
}
.content-banner h1 {
    font-family: var(--f-style);
    font-size:4rem;
    line-height: 1.3;
}
.content-banner p{
	
    font-size: 1rem;
	margin:1rem;
}
.content-banner button{
	transform:scale(1.2);
	margin:30px 1px !important;
	box-shadow:2px 3px 0.8em black;
}
.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* font-family: 'Lora', serif; */
    background: url('../header-back.jpg');
    background-size: cover;
    background-color: black;
    background-blend-mode: luminosity;
}	
.banner .btns{
	width:fit-content;
	padding:20px !important;
}
#banner-main{
	justify-content:center;
	align-items:stretch;
	
	background-attachment:fixed;
	background-size:cover;
	margin-bottom:10px;
	height:70vh;
}
.banner-header{
	padding:10px;
	
	/* font-size:2.7em; */
	font-weight:bold;
	/* text-decoration:underline; */
	text-transform:uppercase;
	
}
#banner-header-main{color:white;
	background: linear-gradient(45deg,#8a6e1a,#b646468f);
    
    
	
}
.banner-paragraph{
	
	text-transform:uppercase;
	text-align:center;
	padding:30px 15px;
	width:100% !important;
	font-size:1em;
}
#banner-paragraph-main{	color:white;
	/* border:5px white double; */
	height: 100%;
    display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
    align-content: center;
	background:#ffc10759;
}
.product-wrapper{
	margin:20px 0px;
}
.product-header {
    font-weight: 400;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 10px;
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg,#ffeb3b, #e91e63, #ffeb3b);
}
.product-flex{
	padding-left:1rem;
	width:100%;
	height:fit-content;
	display:flex;
	justify-content:flex-start;
	align-content:center;
	align-items:flex-end;
	flex-wrap:wrap;
}
.product-items{
	overflow:hidden;
	height:100%;
	text-align:center;
	width:33.33333%;
	font-family:inherit;
	padding-top:1rem;
}
.new-product {
    /* border-radius: 50%; */
    background: #ff0000;
    color: black;
    position: absolute;
    top: 1px;
    right: 10px;
    height: 2rem;
    width: 2rem;
    padding: 5px;
    z-index: 1;
    border-radius: 4px;
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.product-items img {
    height: 100%;
    object-fit: cover !important;
    overflow: visible;
    width: 90%;
}
.box{
	height:fit-content;
	width:100%;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	text-align:center;

	
}
.box-items{	margin:5px;
	height:40vw;
	width:45%;
	display:grid;
	align-items:center;
	/* justify-content:center; */
	background-position:center !important;
	background-size:cover !important;
	/* transition:1s !important; */
	/* background-attachment:fixed !important; */
	background-color:black;
	background-repeat:no-repeat !important;
}
.box-items h2{font-size:2rem;}
.box-items p{font-size:0.7rem;}
.box-items a {
    display: grid;
    align-content: center;
    color: white !important;
    padding: 20px;
    width: 100%;
    background: transparent;
    /* transition: 500ms !important; */
    height: 100%;
}
.box-items a:hover{
	height: 100%; 
	background: #000000a1;
   
	
}
#banner-last-header {
    margin-top: 100px;
    font-size: 2em;
    background: var(--s-clr);
    color: black;
    box-shadow: 0px 1px 5px black;
}
#banner-last-para{
	color:gray;
	padding:40px;	
}