header{
	    box-shadow: 0 0 0.4em #00000087;
}
@media only screen and (max-width:800px){

	.box-items a {
    display: grid;
    align-content: center;
    color: white !important;
    padding: 20px;
    width: 100%;
    background: #000000a1;
    /* transition: 500ms !important; */
    height: 100%;
}
	.content-banner h1 {
    font-size: 1.7rem;
    padding: 1rem 0;
}
	.show-ul{overflow:auto;justify-content:flex-start !important;}
	.show-ul li {
    display: inline;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 0px;
    white-space: nowrap;
}
	.product-type-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    flex-wrap: nowrap;
    width: 99vw;
    overflow: auto;
    padding-right: 3rem;
}
	.product-items {
    text-align: center;
    width: 33.33333%;
	margin:0;
	
}	.product-items > a{
	height:350px;
}.product-detail{display:none;}
	.short img {
    flex: 1;
    width: 100%;
}
	.nimp-links{
		display:none !important;
	}
	
	#banner-main{
		height:fit-content;
	}
	
	.banner > h1,.banner p {
		
	}
	.banner .btns {
		top:550px;
	}
	#banner-paragraph-main,.ul-hide{
		
		font-size:0.7em;
	}
	#banner-last-header{
		font-size:2em;
	}
	
	.product-headd p{
		overflow-y:visible;
		overflow-x:auto;
	}.product-main-para.product-main-para-head h2 {
    background: no-repeat;
    color: var(--p-clr);
    border: none;
}
	.header-items-bottom ul {
    font-size: 0.7rem;
    width: 100vw;
    white-space: nowrap;
    overflow: auto;
    padding: 0.5em 1.5em;
    position: relative;
    display: flex;
    margin-top: -2em;
    justify-content: flex-start !important;
}
	.imp-links{
		padding:0.5em 0.9em;
	}
	.log-l a, .log-l {
    background: #8bc34a;
    color: whitesmoke !important;
}
	.offer-bell-icon {flex-wrap:wrap;
	z-index:1;
}
	.offer-bell-icon > p + span {
		
	}
	
}
@media only screen and (max-width:496px){
	a.tr {
    color: white;
    font-family: 'Josefin Sans';
    font-size: 1.5rem;
    padding: 1rem;
}
	.top-banner {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    position: relative;
    height: 100vh;
}
.cart-section {
    background: whitesmoke;
    color: black;
    width: 0vw;
    font-size: 0.85rem;
    position: fixed;
    right: 0;
    z-index: 5;
    height: 100vh;
    transition: 0.3s width;
    padding: 1rem 0;
    overflow: auto;
    padding-bottom: 3rem;
}
.cart-btns {
    font-size: 1.2rem;
    padding: 1.2rem !important;
    background: #ff0000;
    margin: 1.4rem 0;
}
.slider-menu {
    text-transform: uppercase;
    display: block;
    overflow: auto;
    padding: 0px;
    position: fixed;
    top: 98px;
    z-index: 2;
    background: #000000;
    color: red;
    border-top: 0em #cecece solid;
    padding-bottom: 20em;
    transition: width 0.5s;
}	.cart-item-list{
	height:45% !important;
}
	.cart-section{
		padding-bottom:0rem !important;
	}
	.logo-img{
		width:3.5rem;
	}
.aa1{
	display:none;
}
.header-items-bottom {
    position: relative;
    top: 0;
    height: auto;
    background: linear-gradient(45deg, skyblue, lavender);
}
	/* .slider-menu a{ */
		/* padding:5px; */
		/* padding-left:15px; */
		/* width:55vw; */
		/* color:gray; */
	/* } */
	.slider-menu a:nth-child(1) {
    display: flex;
    align-items: center;
    background: #f3f3f3;
	font-weight:bold;
	font-style: italic;
    width: 103%;
     
}
	.slider-menu a {
    display: block;
    padding: 1rem;
    border-bottom: 1px gray solid;
    letter-spacing: 6px;
}
	#closeSliderMenuButton{
		position:absolute;
		right:40px;
		top:0px;
		z-index:3;
	}
	.main-c{
		justify-content:space-between;
		align-items:center;
		font-size:1rem;
	}
	.hide-i{
		display:block !important;
		display:block !important;
		font-size:1.0em;
		
	}
	header{
		position:fixed;
		background:white;
		z-index:2;
	}
	
	main {
    padding-top: 7.5rem;
}
	.header-items-top{
		display:none;
	}

	.banner{
		flex-wrap:wrap;
	}
	.banner-paragraph{
		font-size:1em;
	}
	#banner-main{
		background-position: top;	
		background: url("../img/box/box2.jpg");
		background-size:cover;
		/* background-attachment:fixed; */
	}
	#banner-main p{
		background:#2a2924a8;
		padding:40px 20px;
		
		height:fit-content;
		width:100%;
	}
	#banner-main h1{
		background:#ffbf0075;
		font-size:1.4em;
		height:40vh;
	}
	.banner .btns {
		position:static;
		background:none;
		height: 100%;
		padding:20px ; 
		margin-top: 10px;
		width: fit-content;
	}
	.product-header{
		font-size:1em;
	}

	.box{
		flex-direction:column;
		
	}
	.box-items {
    width: 96%;
    height: 40vh;
    margin: 0.25em auto;
}
	.short{
		flex-wrap:wrap;
	}
	.submit-email{
		width:90%;
		flex-direction:row;
		align-items:center;
		box-shadow:none;
		border-radius:10px;
		padding:10px;
	}
	.submit-email *{
		padding:5px !important;
		margin:2px !important;
	}
	.imp-links-slots{
		display:none !important;
	}
	.product-headd p{
		width:100% !important;
		 margin-top:100px;
		padding:20px !important;
		border-radius:20px !important;
		height:60% !important;
		font-size:1.1em !important;
		box-shadow: inset 0px -14px 17px 10px black;
		overflow:auto;
	}
	
	.log-l{
		border-bottom-color: whitesmoke !important; 
	}
	.show-ul{
		display:none;
	}
	.footer-links{
		justify-content:center;
		flex-direction:column;
	}
	.footer-links > ul li::after {
    display: block;
    content: "";
    font-size: 0.8rem;
    padding: 0.5rem;
}
	.footer-links > ul:nth-child(1) li:nth-child(1):after{
		display:block;
		content: "Who We Are ?";
		}
		.footer-links > ul:nth-child(2) li:nth-child(1):after{
		display:block;
		content: "Excellent Services!";
		}
		.footer-links > ul:nth-child(3) li:nth-child(1):after{
		display:block;
		content: "Extra Stuffs!";
		}
		.footer-links > ul:nth-child(4) li:nth-child(1):after{
		display:block;
		content: "Your Inforamtion..";
		}
.footer-links > ul li:nth-child(1) > a{
	font-size:1rem;
	/* font-family:'Mandali'; */
}
.footer-links > ul li:nth-child(1) ~ li{
	display:block;
	overflow:hidden;
	transform:scale(0);
	height:0px;
	transition-delay:0.2s;
}
.footer-links > ul li:nth-child(1):is(:hover,:active,:visited) ~ li{
	display:block;
	padding:0.5rem;
	transform:scale(1);
	height:50px;
}
	.offer-bell-icon{
		display:none;transition:0.4s all ;
	}
	.offer-bell-icon-M{
		
		flex-direction:column;
		display:flex;
		background:transparent;
		box-shadow:none;
		transition:2s;
		left:-390px;transition:0.7s all ;
		bottom:20vh;
		padding:2rem 0 4rem 0;
	}.offer-bell-icon-M *{    transition-timing-function: cubic-bezier(1, -0.57, 0, 1.41);}
	.offer-bell-icon-M > p + span{
		position:relative;
		border-radius:50%;
		height:50px;
		width:50px;
		box-shadow:0 0 0.5em gray;
		transition:0.7s all ;
		opacity:1;
	}
	.offer-bell-icon-M:hover {
    left: 0;
    flex-wrap: inherit;
    width: 100vw;
    background: black;
    transition: 0.7s all;
    bottom: 0vh;
    height: 12em;
}
.fa-bell{
	transition:0.6s;
}
	.offer-bell-icon-M:hover > p + .fa-bell{
		overflow:hidden;
		border-radius:50%;
		transform:scale(0.0);
		box-shadow:0 0 0.5em gray;transition:0.7s all ;
		
	}
	.offer-bell-icon-M:hover > p + span{
		overflow:hidden;
		border-radius:50%;
		transform:scale(0.7);
		opacity:0;
		box-shadow:0 0 0.5em gray;transition:0.7s all ;
		
	}
	.offer-bell-icon-M:hover .close-bell{
		display:block;
		position:absolute;
		right:0;
		top:0;transition:0.7s all ;
		margin:0.5em;
	}
	.content-banner {
    font-size: 0.7em;
    line-height: 1.3;
    height: 100%;
}
		/* FOR PRODUCT */
		.social-links{padding:1.5rem;}
	.product-type-wrapper{
		display:none;
	}
	.product-type-wrapper-mobile{
	display:block;
}
	.product-main-info{
		display:none;
	}.product-main a {
    color: gray;
}
	.product-mains{
		height:fit-content;
		background:none;
	}
	.product-main-para-head {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
    color: black;
    width: 100%;
    justify-content: center;
    white-space: nowrap;
    align-content: center;
	background:white;
}	
	.product-main{height:300px;}
	.product-main-para-product{width:auto;margin:auto;}
	.product-mains{height:auto;}
	.product-items{width:50%;padding-top:1rem;overflow:auto;font-size:0.8rem;}
	.product-items > a{margin:0;height:300px;}
	.product-detail{
		display:none;
	}.product-items img {
    height: 100%;
    object-fit: cover;
}
	.product-main-para-head > h2 {font-size:1.5rem !important;}
.product-main-para > h2 {
    font-size: 1rem;
    line-height: 2;
    background: #3b39399c;
    color: white;
}
	.navlinks{justify-content:left;}
}
